<!-- *
 * File name:    footer.ejs **   views -> compontent  
 * Student name: Krishna Ramlakhan
 * Student ID:   818583171 
 * Date:         Feb 3, 2023
 * -->
<nav class="navbar navbar-expand-lg fixed-bottom">
    <div class="container-fluid">
      <h5>&copy; Copyright Krish Ramlakhan - 2023</h5>
    </div>
  </nav>