<!-- <div class="container-fluid">
    <h1><%= title %></h1>
</div> -->

<h1> Current or Past Projects: </h1>
<h2>Three Projects I have finshed:  </h3>
<h4>1. Website for HTML course: </h4>
<img src="/images/proj2.jpg" width="300" alt="">
<p> I was proud when I finished a basic and colourfull website featuring my favourite car - a Testla. 
</p>

<h4>2. Code for my Java class: </h4>
<img src="/images/proj1.jpg" width="300" alt="">
<p> This is the code for one of my prjects in my Java class. It's basically
    a Java assignment with classes, it includes inheritance and polymorphism.  
</p>

<h4>3. My MLS Listing: </h4>
<img src="/images/proj3.jpg" width="300" alt="">
<p> My fulltime job is a Realtor. I have a condo listing in North York that somewhat keeps me busy.
      
</p>