 <!-- *
 * File name:    services.ejs **   views -> content  
 * Student name: Krishna Ramlakhan
 * Student ID:   818583171 
 * Date:         Feb 3, 2023
 *
 * This page will display my services 
 * -->

<h1> My Services:  </h1>
<h2>Below are some services I can provide:  </h3>
<h4>1. Mainframe programmer: </h4>
<img src="/images/mainframe.jpeg" width="300" alt="">
<p> As a maingrame programmer with previous experices, I am faimilar with the following languages:
    <ul>
        <li>COBOL</li>
        <li>PL1</li>
        <li>DB2</li>
        <li>TSO/ISPF </li>
        <li>PL1 </li>
      </ul>
</p>  